# Workspace Folder
.vscode/
.venv/
.gemini/

# Python
__pycache__/
*.py[cod]
*$py.class
.env

# PyInstaller / Build
build/
dist/
*.spec

# Application Outputs
**/cropped/
dataset/
annotator_config.json

# OS specific
.DS_Store
Thumbs.db