# Workspace Folder
.mypy_cache/
.ruff_cache/
.vscode/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
.env

# PyInstaller / Build
build/
dist/
*.spec

# Application Outputs
**/cropped/
dataset/*/
dataset/*.zip

# OS specific
.DS_Store
Thumbs.db