# Core ML and CV
torch
torchvision
torchaudio
opencv-python-headless
numpy

# Augmentation and Annotation
albumentations
Pillow
tqdm

# Segment Anything Model and dependencies
# sam2 # only install in the kaggle notebook
matplotlib