# Core ML and CV
torch
torchvision
torchaudio
opencv-python-headless
numpy

# Augmentation and Annotation
albumentations
Pillow
tqdm

# Segment Anything Model and dependencies
git+https://github.com/facebookresearch/sam2.git
matplotlib